#header {
  @include position-fixed;
  z-index: 10000;
}
.header__inner {
  @include flex-between;
  background-color: rgba(116, 99, 99, 0.1);
  backdrop-filter: blur(15px);
  padding: 1rem;

  .header__logo{}
  .header__nav{}
  .header__nav__mobile{}
}